/* Estilo do corpo */
body {
    font-family: Coolvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 220px; /* Espaçamento suficiente para o cabeçalho */
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o cabeçalho */
    background-position: top center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifique-se de que o cabeçalho fique acima de outros elementos */
}

@media (max-width: 1000px) {
    header {
        background-size: contain; /* Ajusta a imagem para conter dentro do cabeçalho em telas menores */
    }
}

/* Estilo do campo de busca */
#search {
    border-radius: 15px;
    padding: 13px;
    border: 1px solid #ccc;
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 800px;
}

/* Estilo da logo */
header .logo,
footer .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%; /* Define bordas arredondadas, criando um círculo */
}

/* Estilo do conteúdo principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: #4251f5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo das capas dos livros */
.book {
    margin: 20px;
    text-align: center;
}
.book img {
    width: 300px;
    height: 400px;
}
.location,
.title,
.author,
.edition {
    font-size: 14px;
    color: #555;
}
.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Estilo da navegação */
nav {
    position: absolute;
    top: 170px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Ajusta o espaçamento entre os elementos */
    margin-bottom: 10px;
}
select {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Estilos responsivos */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .col {
        width: 100%;
    }
}
