/* Estilo do corpo */
body {
    font-family: Coolvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Cor de fundo desejada */
    padding-top: 220px; /* Espaçamento suficiente para o cabeçalho */
}

@media (max-width: 600px) {
    body {
        padding-top: 160px; /* Ajusta o espaçamento do cabeçalho em telas menores */
    }
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg'); /* Adiciona a imagem de fundo ao cabeçalho */
    background-size: cover; /* Faz a imagem cobrir todo o cabeçalho */
    background-position: top center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifique-se de que o cabeçalho fique acima de outros elementos */
}

@media (max-width: 1000px) {
    header {
        background-size: contain; /* Ajusta a imagem para conter dentro do cabeçalho em telas menores */
        padding: 10px 0; /* Reduz o padding em telas menores */
    }
}

/* Estilo do campo de busca */
#search {
    border-radius: 16px;
    padding: 8px; /* Reduz o espaço de digitação pela metade */
    border: 1px solid #b9b7cf;
    font-size: 16px;
    position: absolute;
    top: -50px; /* Ajusta a posição para ficar acima dos menus */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 40%; /* Ajusta a largura em telas menores */
    max-width: 400px; /* Define a largura máxima */
    margin: 5px 0; /* Espaçamento vertical */
}

@media (max-width: 600px) {
    #search {
        top: 90px; /* Ajusta a posição superior em telas menores */
        width: 80%; /* Ajusta a largura em telas menores */
        position: static; /* Ajusta a posição */
        transform: none; /* Remove a transformação */
        margin-top: 10px; /* Adiciona margem superior */
    }
}

/* Estilo do informativo */
#informativo {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Estilo da logo */
header .logo,
footer .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%; /* Define bordas arredondadas, criando um círculo */
}

/* Estilo do conteúdo principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 20px; /* Adiciona margem superior para evitar sobreposição com o cabeçalho */
}

/* Estilo do rodapé */
footer {
    background-color: #301ef5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo das capas dos livros */
.book {
    margin: 20px;
    text-align: center;
    flex: 0 0 calc(33.333% - 40px); /* Adiciona flex para 3 capas por fileira */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}
.book img {
    width: 100%;
    height: 250px; /* Define uma altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento */
    border-radius: 15px; /* Adiciona bordas arredondadas às capas dos livros */
    cursor: pointer; /* Adiciona cursor de ponteiro ao passar o mouse sobre a capa */
}
.location,
.title,
.author,
.edition {
    font-size: 16px;
    color: #555;
}
.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Estilo da navegação */
nav {
    position: absolute;
    top: 150px; /* Ajusta a posição superior */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Ajusta o espaçamento entre os elementos */
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        top: auto;
        left: auto;
        position: static;
        transform: none;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px; /* Adiciona margem superior */
    }
}

select {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%; /* Ajusta a largura em telas menores */
    max-width: 400px; /* Define a largura máxima */
}

/* Estilos responsivos */
@media (max-width: 600px) {
    body {
        padding-top: 160px; /* Ajusta o espaçamento do cabeçalho em telas menores */
    }

    nav {
        top: auto;
        left: auto;
    }

    .container {
        flex-direction: column;
    }

    .book {
        flex: 0 0 100%; /* Adiciona flex para 1 capa por fileira em telas menores */
    }
}

/* Estilo para o contêiner de resumo */
#resumo-container {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}
